/*
 Theme Name:   103.5 The Arrow
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Live Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     live
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  live-child
*/

body { font-size:14px; font-weight:normal; font-family:arial, sans-serif; }
h1, h2, h3, h4 h5, h6 { font-weight: bold !important; letter-spacing: 1px !important; }
#primary-menu-container { background:#121212 !important; }
img { -ms-interpolation-mode: bicubic !important; }
.rs-caption b {
	color:#fff;
	font-size:20px;
}
.rs-caption p {
	color:#c4c4c4;
	font-size:12px;
}
.current-menu-item a{
	color: #818181 !important;
}
h1 {
	font-weight:bold;
	color:#fdc583;
}
h2 {
	font-weight:bold;
	color:#fdc583;
}
h3 {
	font-weight:bold;
	color:#fdc583;
}

h2.header-titles { border:1px solid red; }

#logo-container img {
	max-width:100%;
}

#logo-container {
	width:100px !important;
	position:absolute;
	margin-top:-50px;
}

.home-menu-item { width:200px !important; }

.site-header .table-head {
	margin:25px 0px 15px 0px;
}

.tribe-events-list-widget li, .singular.page li.hentry, .tribe-events-adv-list-widget li, .singular.page li.hentry {
	list-style-type:none;
	margin:6px 0px 6px -40px;
}

.tribe-bar-disabled {
	display:none;
}

/*h4.summary { font-size:100% !important; color:#440000; }*/

.tribe-events-list-widget-events h4 { font-size:22px !important; }

.widget .searchform .field {
	width: 95%;
	max-width:300px;
	border-radius:5px;
}

#main-content-body {
	background: rgb(129, 129, 129);
	background: rgba(129, 129, 129, .2);
	padding:40px 40px 40px 40px;
	box-shadow: 0px 0px 20px #000;
}
#main {
	padding-top:0px;
	padding-bottom:0px;
}
#facebook-widget {
	background: rgb(0,0,0);
	background: rgba(0,0,0, .5);
}
iframe.facebook-widget {
	width:325px;
}
.rs-slide-bg {
	padding:0px;
}
#head-slider-container {
	max-height:150px !important;
}
.rs-arrows {
	margin-top:-60px;
	z-index: 9999;
	position:relative;
	margin-left:8px;
}
.header-right {
	max-width:1140px !important;
	width:100% !important;
	float:right;
	background: rgb(0,0,0);
	background: rgba(0,0,0, .5);
}
#now-playing {
	float:right;
	height:100%;
}
#recently-played {
	float:right;
	margin-right:20px;
}
#hello {
	box-shadow: 0px 15px 15px -15px #000;
}
.entry-header{
	float:right;
	width:100%;
}

h2, .post h1.entry-title {
	/*font-size: 225% !important;*/
	font-size:175% !important;
}

/*.entry-title{
	font-size:225%;
	font-weight:bold;
}*/

.banner-ads {
	text-align:center;
	margin:-20px 0px 40px 0px;
}

.header-banner-ad-responsive {
	display:none;
}

#hello { padding: 20px 0px 10px 0px !important; }

.entry-thumbnail { max-width:150px; }

#masthead { box-shadow: 0px 3px 10px 0px #000; }

h2.entry-title { margin-left:10px; }

.error404 #main {
	padding: 0px;
	text-align: center;
}

.error404 { min-height:500px; padding-top:0px !important; }

.post not-found { border:1px solid green; margin-top:50px; }

li.home-menu-item a {
	background-image:url("/wp-content/uploads/2016/05/Arrow-color-logo.png") !important;
	width:170px;
	margin-top:1px;
	height:150px;
	background-size: 225px;
	background-repeat: no-repeat;
	/*border:1px solid green !important;*/
	background-position:bottom left;
}

.scrolled-home-icon {
	width:100px !important;
	background-size:90px 40px !important;
	height:40px !important;
	margin-top:2px !important;
}

#top-holder { padding: 0px 0px !important; }
.dark #top-holder, .dark #bottom-holder {
	background-color: transparent !important;
	background-image: none !important;
	border-top: none !important;
}

#top-holder .wrap {
	background-color: #333;
	padding: 18px;
}

#masthead {
	box-shadow: none !important;
}

#hello {
	box-shadow: none !important;
}

#main-content-body {
	box-shadow: none !important;
}

/* #top-holder { padding:10px 0px !important; } */

.listen-header { font-size:21px; font-weight:bold; }

.tribe-events-list-separator-month span {
	background-color: #333;
	font-family: 'OstrichSansMedium';
}
.single-tribe_events .tribe-events-event-meta { background:none !important; }
.tribe-events-list .tribe-events-event-cost span { background:none !important; }
.gform_wrapper .gfield_required { color:#fdc583 !important; }
.gform_title { display:none; }
table.gsurvey-likert tr td { border-left: 0px !important; border-right: 0px !important; border-top: 0px !important; }
table.gsurvey-likert td.gsurvey-likert-choice-label { background: none; }
#main-content-body { background: #333 !important; }

.tribe-events-list-widget ol li { margin-bottom:0px !important; }
.tribe-events-list-widget-events h4 {
	font-size: 26px !important;
	font-weight: bold;
	margin-bottom: 2px;
}

.tribe-events-list-widget .duration {
	font-weight: 200;
	font-size: 11px;
}

.tribe-events-list-widget ol li {
	border-bottom: 3px solid rgba(255, 255, 255, 0.05);
}

@media screen and (max-width: 1024px) {
	#hello {
		box-shadow: none;
	}
}

@media screen and (max-width:630px) {
	/*.entry-thumbnail { min-width:300px; width:100% !important; margin:5%; float:left !important; clear:both !important; }*/
	/*h2.entry-title { float:right !important; margin:5%; width:100% !important; border:1px solid blue; }*/
	.post-loop-thumbnail { float:left; width:100%; clear:both; }
	#homepage-thumb img{ width:100% !important; min-width:225px; }
	#homepage-title { width:100% !important; }
	.header-banner-ad-responsive {
		display:block;
	}
	.header-banner-ad{
		display:none;
	}

}
