/*
Theme Name: Sahifa Child
Description: Child theme for Sahifa
Author: Jake Brinkerhoff
Template: sahifa
*/

@font-face {
    font-family: 'OstrichSansMedium';
    src: url('css/fonts/ostrich-regular-webfont.eot');
    src: url('css/fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/ostrich-regular-webfont.woff') format('woff'),
         url('css/fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('css/fonts/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}