body { font-size:14px; font-weight:normal; font-family:arial, sans-serif; }
#primary-menu-container { background:#121212 !important; }
img { -ms-interpolation-mode: bicubic !important; }
.rs-caption b {
	color:#fff;
	font-size:20px;
}
.rs-caption p {
	color:#c4c4c4;
	font-size:12px;
}
.current-menu-item a{
color: #818181 !important;
}
h1 {
font-weight:bold;
color:#fdc583;
}
h2 {
font-weight:bold;
color:#fdc583;
}
h3 {
font-weight:bold;
color:#fdc583;
}

h2.header-titles { border:1px solid red; }

#logo-container img {
	max-width:100%;
}

#logo-container {
	width:100px !important;
	position:absolute;
	margin-top:-50px;
}

.home-menu-item { width:200px !important; }

.site-header .table-head {
margin:25px 0px 15px 0px;
}

.tribe-events-list-widget li, .singular.page li.hentry, .tribe-events-adv-list-widget li, .singular.page li.hentry {
list-style-type:none;
margin:6px 0px 6px -40px;
}

.tribe-bar-disabled {
display:none;
}

.widget .searchform .field {
width: 95%;
max-width:300px;
border-radius:5px;
}

#main-content-body {
    background: rgb(129, 129, 129); 
    background: rgba(129, 129, 129, .2);
	padding:40px 40px 40px 40px;
	box-shadow: 0px 0px 20px #000;
}
#main {
padding-top:0px;
padding-bottom:0px;
}
#facebook-widget {
background: rgb(0,0,0); 
    background: rgba(0,0,0, .5);
}
iframe.facebook-widget {
width:325px;
}
.rs-slide-bg {
padding:0px;
}
#head-slider-container {
max-height:150px !important;
}
.rs-arrows {
margin-top:-60px;
z-index: 9999;
position:relative;
margin-left:8px;
}
.header-right {
	max-width:1140px !important;
	width:100% !important;
	float:right;
	background: rgb(0,0,0); 
    background: rgba(0,0,0, .5);
}
#now-playing {
	float:right;
	height:100%;
}
#recently-played {
	float:right;
	margin-right:20px;
}
#hello {
	box-shadow: 0px 15px 15px -15px #000;
}
.entry-header{
	float:right;
	width:100%;
}

h2, .post h1.entry-title {
	/*font-size: 225% !important;*/
	font-size:175% !important;
}

/*.entry-title{
	font-size:225%;
	font-weight:bold;
}*/

.banner-ads {
	text-align:center;
}

.header-banner-ad-responsive {
		display:none;
	}

#hello { padding: 20px 0px 10px 0px !important; }

.entry-thumbnail { max-width:150px; }

#masthead { box-shadow: 0px 3px 10px 0px #000; }

h2.entry-title { margin-left:10px; }

.error404 #main {
padding: 0px;
text-align: center;
}

.error404 { min-height:500px; padding-top:0px !important; }

.post not-found { border:1px solid green; margin-top:50px; }

li.home-menu-item a {
	background-image:url("/wp-content/uploads/2014/09/header-logo-arrow.png") !important;
	width:225px;
	margin-top:1px;
	height:105px !important;
	background-size: 225px;
	background-repeat: no-repeat;
	/*border:1px solid green !important;*/
	/*background-position:bottom;*/
}

#top-holder { padding:10px 0px !important; }

.listen-header { font-size:21px; font-weight:bold; }

.tribe-events-list-separator-month span {
	background-color: #333;
	font-family: 'OstrichSansMedium';
}

.gform_wrapper .gfield_required { color:#fdc583 !important; }
.gform_title { display:none; }
table.gsurvey-likert tr td { border-left: 0px !important; border-right: 0px !important; border-top: 0px !important; }
table.gsurvey-likert td.gsurvey-likert-choice-label { background: none; }
#main-content-body { background: #333 !important; }

@media screen and (max-width: 1024px) {
	#hello {
		box-shadow: none;
	}	
}

@media screen and (max-width:630px) {
	/*.entry-thumbnail { min-width:300px; width:100% !important; margin:5%; float:left !important; clear:both !important; }*/
	/*h2.entry-title { float:right !important; margin:5%; width:100% !important; border:1px solid blue; }*/
	.post-loop-thumbnail { float:left; width:100%; clear:both; }
	#homepage-thumb img{ width:100% !important; min-width:225px; }
	#homepage-title { width:100% !important; }
	.header-banner-ad-responsive {
		display:block;
	}
	.header-banner-ad{
		display:none;
	}
	
}
